{% extends 'base.html.twig' %}

{% block body %}

    <div class="row header">
        <div class="col s2"><img class="responsive-img" src="{{ asset('bundles/main/images/armaLogo.png') }}" alt="ArmaLogo"></div>
        <div class="col s8 title">
            <h1>LE <span class="titleRed">COLISÉE</span> D'<span class="titleRed">OLIECH</span></h1>
        </div>
        <div class="col s2 btnConnexion">
            <a href="{{ path('fos_user_security_login') }}">
                <button class="btn">Connexion</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="center">Qui <span class="titleRed">soutenez</span> vous ?</h2>
        </div>
        <div>
            {% for joueur in joueurs %}
            <div class="col s3">
                <div class="row">
                    <div class="center">
                        <p>{{ joueur.pseudo }}</p>
                    </div>
                    <div class="center">
                        <img class="z-depth-5 responsive-img" src="{{ asset('bundles/main/images/' ~ joueur.photo) }}" alt="odémiam">
                    </div>
                    <div class="col s5 offset-s1 center ">
                        <p class="nbVote">Vote : {{ joueur.voix }}</p>
                    </div>
                    <div class="col s5 center divVote ">
                        <a href="{{ path('vote', { 'id' : joueur.id }) }}"> <button class="btn btnVote">Je vote</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>

{% endblock %}